# dependencies
node_modules/
package-lock.json
bun.lock

# build output and packages
out/
dist/
release/
*.tgz

# code coverage
coverage/
*.lcov

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.*
!.env.example

# caches
.eslintcache
.cache/
*.tsbuildinfo

# IDE and editor settings
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db
